body {
    h1 {
        margin: 0;
    }

    font-family: sans-serif;
    margin: 1em 20% 0 20%;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.5;
    background-color: #f8f8f8;
    color: #333;
}

h2 {
    border-bottom: 2px solid #ccc;
    padding-bottom: 5px;
}

ul {
    list-style-type: none;
    padding-left: 20px;
}

li {
    margin-bottom: 10px;
    padding: 8px;
    background: white;
    border-left: 2px solid #007BFF;
    border-radius: 5px;
}

a {
    text-decoration: none;
    color: #007BFF;
    font-weight: bold;
}

a:hover {
    text-decoration: underline;
}

small {
    display: block;
    color: #666;
    font-size: 0.9em;
    margin-top: 2px;
}
