{% extends "base" %}

{% block title %}Create reply{% endblock %}

{% block content %}
<h3>Create reply</h3>
<form method="post" action="/reply/{{ post_id }}">
    Author: <input type="text" name="author"><br>
    Message: <textarea name="message"></textarea><br>
    <input type="submit">
</form>
{% endblock %}
