{% extends "base" %}

{% block title %}Create post{% endblock %}

{% block content %}
<h3>Create post</h3>
<form method="post" action="/post">
    Author: <input type="text" name="author"><br>
    Message: <textarea name="message"></textarea><br>
    <input type="submit" class="button button-new" value="Create Post">
</form>
{% endblock %}
